//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .logo {
    position: absolute;
    margin: 10px 0 0 0;
    left: ~"calc(50% - 80px)";
    top: 3px;
    z-index: 6;

    .page-print & {
      display: inline-block;
      float: none;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  //
  //  Header
  //  ---------------------------------------------

  .page-header {
    margin-bottom: 20px;
  }

  .logo {
    margin: 10px 0 0 0;
    position: absolute;
    left: ~"calc(50% - 80px)";
    top: 0;
  }

  .navigation > ul {
    text-align: center;
    text-transform: uppercase;
  }

  .cms-index-index {
    .page-title-wrapper {
      display: none;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .logo {
    margin-left: 20px;
    width: 120px;
  }
}